body {
  font-family: "roboto", sans-serif;
  /* background-color: #ffffff; */
  background: #e5e5e5;
}
/* Скидає крапки перед списками  */
.list {
  list-style: none;
}
/* Скидає підкреслювання */
.link {
  text-decoration: none;
}
/* .header:hover,
.header:focus {
  color: #404bbf; }*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-navi {
}
.site-body {
}

.header-navi {
}
.header-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.span {
  color: #4d5ae5;
}
.header-list {
}
.header-item {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.header-link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
/* При наведенні курсора і табуляції змінює колір */
.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
}
.header-mail {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /* При наведенні курсора і табуляції змінює колір */
.header-mail:hover,
.header-mail:focus {
  color: #404bbf;
}

.header-tel {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
/* /* При наведенні курсора і табуляції змінює колір */
.header-tel:hover,
.header-tel:focus {
  color: #404bbf;
}
.hero-title {
  font-style: normal;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: #2e2f42;
}
.main-btn {
  font-family: "inherit";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  background: #4d5ae5;

}

.main-btn-ptf:hover,
.main-btn-ptf:focus {
  color:  #FFFFFF;
  background: #4D5AE5;
}
.main-btn-ptf {
font-family: 'Roboto';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 1.18;
cursor: pointer;
/* display: flex;
align-items: center;
text-align: center; */
letter-spacing: 0.04em;
color: #4D5AE5;
}
.main-btn {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #FFFFFF;
  background: #4D5AE5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;
}
.main-btn:hover,
.main-btn:focus {
  color:  #FFFFFF;
  background: #404BBF;
}
.list-goals {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.list-text {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}
.work-titl {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.section-our-team {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  background: #F4F4FD;
}
.team-guys {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  /* text-align: center; */
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
}
.img-foto {
  background: #FFFFFF;
}
.name-guys {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.specialty-guys {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.02em;
  color: #434455;
}
.footer:hover,
.footer:focus {
  color: #404bbf;
}
.footer {
  background: #2e2f42;
}
.footer-body {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #e7e9fc;
}
.header-logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
