:root {
  --primary-brandcolor: #4d5ae5;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --acent: #e7e9fc;
  --light: #f4f4fd;
  --logo-color: #404bbf;
  /* color: var(--primary-brandcolor); */
}
body {
  font-family: "roboto", sans-serif;
  /* background-color: #ffffff; */
  background: #e5e5e5;
}
/* Скидає крапки перед списками  */
.list {
  list-style: none;
}
/* Скидає підкреслювання */
.link {
  text-decoration: none;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--dark);
}
.span {
  color: var(--primary-brandcolor);
}
.header-item {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
}

/* При наведенні курсора і табуляції змінює колір */
.header-link:hover,
.header-link:focus {
  color: #4d5ae5;
  /* var(--primary-brandcolor); */
}
.header-mail {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* /* При наведенні курсора і табуляції змінює колір */
.header-mail:hover,
.header-mail:focus {
  color: var(--primary-brandcolor);
}
.header-tel {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
/* /* При наведенні курсора і табуляції змінює колір */
.header-tel:hover,
.header-tel:focus {
  color: var(--primary-brandcolor);
}
.hero-title {
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
  background: var(--dark);
}
.main-btn {
  font-family: "inherit";
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
  position: absolute;
  background: var(--primary-brandcolor);
}
.main-btn:hover,
.main-btn:focus {
  color: #ffffff;
  background: var(--text);
}
.list-goals {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.list-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.work-titl {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.section-our-team {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
  background: var(--light);
}
.team-guys {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--dark);
}
.img-foto {
  background: #ffffff;
}
.name-guys {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.specialty-guys {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: var(--text);
}
.footer:hover,
.footer:focus {
  color: var(--text);
}
.footer {
  background: var(--dark);
}
.footer-body {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--acent);
}
/* =========================Portfolio=================== */
.header-logo-footer {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--light);
}
.header {
  background: #ffffff;
}
.main-btn-ptf:hover,
.main-btn-ptf:focus {
  color: #ffffff;
  background: var(--primary-brandcolor);
}
.main-btn-ptf {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  cursor: pointer;
  letter-spacing: 0.04em;
  color: var(--primary-brandcolor);
}

.dev-name {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}

.dev-name-list {
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--text);
}
